

body{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-size: 30px;
}

div{
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-size: 18px;
}

input{
    width: 50px;
    padding: 5px;
    background-color: darkgoldenrod;
    font-size: 18px;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}